@model YYQERP.StockInModel
@{
    ViewBag.Title = "来料入库界面";
}
<div class="easyui-layout" data-options="fit:true" style=" overflow:hidden;">
    <div id="list-panel" data-options="region: 'center',title:'入库记录',border:true" style="border-left: none; border-bottom: none; " data-checkper="query">
        <table id="dgList"></table>
    </div>

    <div id="add-panel" data-options="region: 'east',border:true,split:true" style=" width: 50%; border-bottom: none;" data-checkper="stockin">
        <div class="easyui-tabs" data-options="fit:true,border:false">
            <div title="原材料入库" data-options="iconCls:'icon-standard-plugin'">
                <div id="north_panel" data-options="region:'north',border:false">
                    <div id="km_toolbar" class="km_toolbar">

                    </div>
                    <div class="km_toolbar">
                        <input id="Reason" name="Reason" class="easyui-textbox" data-options="prompt:'入库原因',value:''" style="width:300px" />
                    </div>
                </div>
                <table id="dg" class="easyui-datagrid" style="height:auto"></table>
                @*<div id="north_panel" data-options="region:'north',border:false" style="padding:5px;background-color: #f2f2f2;">
                        <div id="km_toolbar_detail" class="km_toolbar">
                            <label>选择要出库的Bom</label>
                            <input id="BomId" name="BomId" class="easyui-combobox"
                                   data-options="prompt:'选择Bom',editable:false,hasDownArrow:true,panelHeight:200,valueField:'bomid',textField:'bomname'"
                                   style="width:250px;">
                            <button id="add_part" class="easyui-linkbutton" data-options="iconCls:'icon-standard-add',plain:true" onclick="km.addgrid.do_addbom();">添加</button>

                        </div>
                        <div id="km_toolbar_detail" class="km_toolbar">
                            <label>选择要出库的原材料</label>
                            <input id="ElementId" name="ElementId" class="easyui-combobox"
                                   data-options="prompt:'选择原材料',editable:false,hasDownArrow:true,panelHeight:200,valueField:'ElementId',textField:'ElementName'"
                                   style="width:250px;">
                            <button id="add_element" class="easyui-linkbutton" data-options="iconCls:'icon-standard-add',plain:true" onclick="km.addgrid.do_addelement();">添加</button>

                        </div>
                        <div id="km_toolbar_detail" class="km_toolbar">
                            <button class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="km.addgrid.do_savestockout();">保存</button>
                        </div>
                    </div>
                    <table id="dg" class="easyui-datagrid" style="height:auto;"></table>*@
            </div>
            <div title="产品入库" data-options="iconCls:'icon-standard-picture-empty'">
                <div id="north_panel" data-options="region:'north',border:false" style="padding:5px;background-color: #f2f2f2;">
                    <div class="km_toolbar">
                        <label>选择要入库的产品或半成品</label>
                        <input id="ProductId" name="ProductId" class="easyui-combobox"
                               data-options="prompt:'选择产品或半成品',editable:false,hasDownArrow:true,panelHeight:200,valueField:'id',textField:'text'"
                               style="width:250px;">
                        <button id="add_product" class="easyui-linkbutton" data-options="iconCls:'icon-standard-add',plain:true" onclick="km.addgridByProduct.do_addproduct();">添加</button>

                    </div>
                    <div id="km_toolbar_detail" class="km_toolbar">
                        <input id="ReasonP" name="ReasonP" class="easyui-textbox" data-options="prompt:'入库原因',value:''" style="width:300px" />
                        <button class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="km.addgridByProduct.do_SaveByProduct();">提交</button>
                    </div>
                </div>
                <table id="dg_product" class="easyui-datagrid" style="height:auto;"></table>
            </div>

        </div>




    </div>



    @*<div id="add-panel" data-options="region: 'east',title:'来料入库',border:true,split:true" style=" width: 50%; border-bottom: none;">

        </div>*@
</div>
<div id="toolbar1">
    <input id="elementCode" class="easyui-textbox" data-options="prompt:'原材料料号',value:''" style="border:1px solid #f2f2f2;width:200px; height:100%" />
    <input id="shelfCode" class="easyui-textbox" data-options="prompt:'库位',value:''" style="border:1px solid #f2f2f2;width:200px; height:100%" />
    <a id="btn_search" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-standard-zoom',plain:true" onclick="km.maingrid.search_data();">搜索</a>
    <a href="javascript:;" class="easyui-menubutton" data-options="menu:'#exp1',iconCls:'icon-standard-page-white-excel'" data-checkper="export">导出入库信息</a>
    <div id="exp1" style="width:100px;">
        <div><a href="javascript:;" onclick="km.maingrid.do_export(1);">导出当前页</a></div>
        <div><a href="javascript:;" onclick="km.maingrid.do_export();">导出全部</a></div>
    </div>
</div>

@section Styles {

}

@section Scripts {
    @Scripts.Render("~/js/easyui-datagrid-groupview")
    <script src="~/js/Sys/StockIn_Index.js"></script>
    <script type="text/javascript">
        var model_string = '{"urls":{"list":"/Sys/Base_Button/GetList",'
        + '"pagelist":"/Stock/GetStockInPageList",'
        + '"getListByProductId":"/Stock/GetStockInListByProductId",'
        + '"saveStockInByProduct":"/Stock/SaveStockInByProduct",'
        + '"delete":"/Stock/DeleteStockIn",'
        + '"save":"/Stock/SaveStockIn"},'
        + '"buttons":['
        + '{"ButtonCode":"appendrow","ButtonName":"添加一行","Sort":120,"ButtonType":1,"IconClass":"icon-add","JsEvent":"km.addgrid.do_appendrow()"},'
        + '{"ButtonCode":"removerow","ButtonName":"删除选择行","Sort":130,"ButtonType":1,"IconClass":"icon-remove","JsEvent":"km.addgrid.do_removerow()"},'
        //+ '{"ButtonCode":"accept","ButtonName":"接受","Sort":140,"ButtonType":1,"IconClass":"icon-standard-tick","JsEvent":"do_accept()"},'
        + '{"ButtonCode":"save","ButtonName":"保存","Sort":150,"ButtonType":1,"IconClass":"icon-save","JsEvent":"km.addgrid.do_save()"}'
        + ']}';
        km.model = JSON.parse(model_string);
        km.productList = @Html.Raw(Json.Encode(@Model.StockProductSelectList));
        km.shelfList = @Html.Raw(Json.Encode(@Model.ShelfSelectList));
        km.pers = @Html.Raw(Json.Encode(@ViewBag.Pers));
    </script>
}






